.zoom:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.jimage{
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 10%;
}
.jai-socials1:hover{
    transform: scale(1.5,1.5);
    transition: 300ms;
}

#jname{
    font-size: 20px;
}

